* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
}

/* slide container*/

.slider {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 12px;
}

/* slides */

.slides {
  height: 100%;
  width: 100%;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* navigation bar */

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}
.prev {
  left: 15px;
}
.next {
  right: 15px;
}
.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Indicators */
.indicators {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #fff;
}
